/* line 5, ../../../Documents/zapt_saude/assets/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 14, ../../../Documents/zapt_saude/assets/scss/style.scss */
body {
  width: 100%;
  background: rgba(172, 161, 245, 0.945);
}

/* line 21, ../../../Documents/zapt_saude/assets/scss/style.scss */
.navigation {
  display: flex;
  background-color: rgba(25, 234, 109, 0.836);
  font-size: 21px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: space-between;
  align-self: center;
  position: relative;
  box-shadow: 1px 1px 10px #575757e1;
}

/* line 30, ../../../Documents/zapt_saude/assets/scss/style.scss */
.navigation #cadastro, .navigation #relatorio {
  width: auto;
  height: auto;
  padding: 2px;
  margin: 2px;
  text-align: center;
  align-content: center;
  align-items: center;
}

/* #cadastro:hover {
    background-color: $roxoBackground;
    height: 60px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    
}


 #relatorio:hover {
    background-color: $roxoFundoForm;
    
} */
/* line 60, ../../../Documents/zapt_saude/assets/scss/style.scss */
#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 50px;
  align-self: center;
}

/* line 71, ../../../Documents/zapt_saude/assets/scss/style.scss */
.imgLogo {
  display: block;
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
  padding: 10px;
}

/* line 86, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoPrincipal {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  padding: 2rem;
  background-color: rgba(172, 161, 245, 0.945);
}

/* line 95, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro {
  display: block;
  background-color: rgba(161, 146, 255, 0.507);
  border: 2px solid #8f8c8c;
  padding: 0.5rem;
  border-radius: 10px;
  width: 50rem;
  overflow-y: scroll;
  height: 48rem;
  box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.788);
}

/* line 107, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .mainRegistro h3 {
  font-size: x-large;
  text-align: center;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(74, 46, 252, 0.753);
  border-radius: 20px 20px 20px 20px;
  color: #f8f7f6;
}

/* line 119, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .registroP {
  background-color: #f1f1f1;
  border: 2px solid #8f8c8c;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 10px;
  flex-wrap: wrap;
  display: grid;
}

/* line 138, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .registroP .incon-link .link-a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

/* line 155, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .registroP .incon, .conteudoRegistro .registroP .img-perfil {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10px;
  margin: 5px;
}

/* line 164, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .registroP #btn-imp {
  margin: 5px;
}

/* line 181, ../../../Documents/zapt_saude/assets/scss/style.scss */
.titleSection {
  display: block;
  background-color: rgba(74, 46, 252, 0.753);
  margin: 0;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  margin-bottom: -15px;
}

/* line 195, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais {
  display: grid;
  width: 60rem;
  position: relative;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-content: center;
  align-items: center;
  gap: 1rem;
  /* font-style: italic; */
  font-weight: bold;
  font-size: large;
}

/* line 212, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais p {
  align-content: center;
  margin-left: 10px;
}

/* line 216, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais h1 {
  text-align: center;
  padding: 1rem;
  color: #f8f7f6;
}

/* line 224, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 231, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputNameComplete {
  width: 20rem;
}

/* line 235, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputCPF {
  width: 10rem;
}

/* line 239, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputCartaoSUS {
  width: 15rem;
}

/* line 243, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputRG {
  width: 8rem;
}

/* line 249, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 {
  display: flex;
  flex-direction: row;
  background-color: rgba(161, 146, 255, 0.507);
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
  gap: 2rem;
  box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.788);
  border-radius: 20px 20px 20px 20px;
}

/* line 262, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 {
  display: flex;
  flex-direction: row;
  background-color: rgba(161, 146, 255, 0.507);
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 2rem;
  box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.788);
}

/* line 274, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 h2 {
  width: auto;
  margin-left: 200px;
}

/* line 281, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 #inputNameResp {
  width: 20rem;
}

/* line 285, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 #inputCPFResp {
  width: 10rem;
}

/* line 289, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 #inputRGResp {
  width: 8rem;
}

/* line 293, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 #inputRua {
  width: 20rem;
}

/* line 297, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 #inputNumero {
  width: 7rem;
}

/* line 301, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father2 #inputCidade {
  width: 8rem;
}

/* line 315, ../../../Documents/zapt_saude/assets/scss/style.scss */
input {
  height: 1.5rem;
  /* background-color: $verdeFundoNav; */
  border: none;
  border-radius: 20px;
  padding: 10px;
}

/* line 325, ../../../Documents/zapt_saude/assets/scss/style.scss */
input:focus {
  outline: 0;
}

/* line 329, ../../../Documents/zapt_saude/assets/scss/style.scss */
.father {
  display: flex;
  width: 25rem;
}

/* line 335, ../../../Documents/zapt_saude/assets/scss/style.scss */
#btnCadastro {
  color: rgba(74, 46, 252, 0.753);
  background-color: rgba(25, 234, 109, 0.836);
  border: none;
  width: 12rem;
  height: 3rem;
  border-radius: 10px;
  margin-left: 22rem;
  margin-right: 20rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.788);
  position: relative;
}

/* line 355, ../../../Documents/zapt_saude/assets/scss/style.scss */
#btnCadastro:hover {
  background-color: rgba(25, 234, 109, 0.836);
  transition: 100ms;
  color: rgba(74, 46, 252, 0.753);
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 2px 20px 1px rgba(117, 117, 116, 0.678);
}

/*FOOTER*/
/* line 369, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_container {
  /* display: inline; */
  position: relative;
  margin-top: 20px;
}

/* line 375, ../../../Documents/zapt_saude/assets/scss/style.scss */
.botao:hover::after, .botao:hover::after {
  opacity: 1;
  width: 150%;
}

/* line 379, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy {
  background-color: rgba(25, 234, 109, 0.836);
  width: 100%;
  float: left;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 1.5em 0em;
}

/* line 380, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy p {
  font-size: 1em;
  color: rgba(74, 46, 252, 0.753);
  height: 20px;
}

/* line 381, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy .m-b-footer {
  margin-bottom: 0.5em;
}

/* line 382, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy .by {
  font-size: 0.96em;
}

/* line 383, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy .by a {
  color: rgba(74, 46, 252, 0.753);
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

/* line 384, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy .by a:hover {
  text-decoration: underline;
  color: #313131;
}

/* line 385, ../../../Documents/zapt_saude/assets/scss/style.scss */
.main_footer_copy .by i {
  font-size: 0.96em;
  margin-right: 3px;
  color: #e82626;
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width: 48em) {
  /* line 393, ../../../Documents/zapt_saude/assets/scss/style.scss */
  .colfooter {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 0;
  }
  /* line 394, ../../../Documents/zapt_saude/assets/scss/style.scss */
  .colfooter:nth-of-type(3n+0) {
    margin-right: 0;
    border-right: 0;
  }
}

/* line 398, ../../../Documents/zapt_saude/assets/scss/style.scss */
.icons {
  display: flex;
  width: 100px;
  margin: 0;
  margin-left: 12rem;
  flex: 1;
  margin-top: -70px;
  position: relative;
  overflow: auto;
  float: left;
}

/* line 412, ../../../Documents/zapt_saude/assets/scss/style.scss */
.logoIcons {
  display: block;
  margin: auto;
  background-color: rgba(74, 46, 252, 0.753);
  border-radius: 100%;
  height: 30px;
}

/* line 423, ../../../Documents/zapt_saude/assets/scss/style.scss */
.relatoriosMain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  width: auto;
  height: 80px;
  background-color: #fca7a7;
  padding: 1rem;
  margin: 1rem;
  align-self: center;
  text-align: center;
  align-items: center;
}

/* line 440, ../../../Documents/zapt_saude/assets/scss/style.scss */
.listaRelatorio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  width: auto;
  height: 45rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* line 452, ../../../Documents/zapt_saude/assets/scss/style.scss */
.listaRelatorio .reg1, .listaRelatorio .reg2 {
  display: grid;
  margin: 10px;
  border-radius: 1rem 0px 0px 1rem;
  overflow-y: scroll;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.788);
}

/* line 462, ../../../Documents/zapt_saude/assets/scss/style.scss */
.listaRelatorio .reg1 .qntPac, .listaRelatorio .reg2 .qntPac {
  display: flex;
  width: auto;
  height: 8rem;
  background-color: #e8f8e3;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 22px;
}

/* line 472, ../../../Documents/zapt_saude/assets/scss/style.scss */
.listaRelatorio .reg1 .qntPac .liPac, .listaRelatorio .reg2 .qntPac .liPac {
  list-style-type: none;
  display: flex;
}

/*# sourceMappingURL=style.css.map */