/* line 5, ../../../Documents/zapt_saude/assets/scss/style.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 14, ../../../Documents/zapt_saude/assets/scss/style.scss */
body {
  width: 100%;
  height: 100vh;
  background: #5054da;
}

/* line 22, ../../../Documents/zapt_saude/assets/scss/style.scss */
.navigation {
  display: flex;
  background-color: #cde9c8;
  font-size: 21px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: space-between;
  align-self: center;
}

/* line 29, ../../../Documents/zapt_saude/assets/scss/style.scss */
.navigation #cadastro, .navigation #relatorio {
  width: auto;
  height: auto;
  padding: 2px;
  margin: 2px;
  text-align: center;
  align-content: center;
  align-items: center;
}

/* line 43, ../../../Documents/zapt_saude/assets/scss/style.scss */
#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 50px;
  align-self: center;
}

/* line 53, ../../../Documents/zapt_saude/assets/scss/style.scss */
.imgLogo {
  display: block;
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
  padding: 10px;
}

/* line 68, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoPrincipal {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  padding: 2rem;
}

/* line 76, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro {
  display: block;
  background-color: #5054da;
  border: solid #cde9c8;
  padding: 0.5rem;
  border-radius: 10px;
  width: 40rem;
  overflow-y: scroll;
  height: 48rem;
}

/* line 87, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .mainRegistro h3 {
  font-size: x-large;
  text-align: center;
  padding: 1rem;
}

/* line 95, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .registroP {
  background-color: #cde9c8;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 10px;
  flex-wrap: wrap;
  display: grid;
}

/* line 105, ../../../Documents/zapt_saude/assets/scss/style.scss */
.conteudoRegistro .registroP .incon, .conteudoRegistro .registroP .a, .conteudoRegistro .registroP .img-perfil {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 10px;
  margin: 5px;
}

/* line 126, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais {
  display: grid;
  width: 60rem;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-content: center;
  align-items: center;
  gap: 2rem;
  /* font-style: italic; */
  font-weight: bold;
  font-size: large;
}

/* line 139, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais p {
  align-content: center;
  margin-left: 10px;
}

/* line 143, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais h1 {
  text-align: center;
}

/* line 147, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 153, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputNameComplete {
  width: 20rem;
}

/* line 157, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputCPF {
  width: 10rem;
}

/* line 161, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputCartaoSUS {
  width: 15rem;
}

/* line 165, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .nameComplete #inputRG {
  width: 8rem;
}

/* line 172, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1, .dadosPessoais .father2, .dadosPessoais .father3 {
  display: flex;
  flex-direction: row;
  background-color: rgba(202, 243, 219, 0.781);
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  gap: 1rem;
}

/* line 182, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 h2, .dadosPessoais .father2 h2, .dadosPessoais .father3 h2 {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10px;
}

/* line 189, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 #inputNameResp, .dadosPessoais .father2 #inputNameResp, .dadosPessoais .father3 #inputNameResp {
  width: 20rem;
}

/* line 193, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 #inputCPFResp, .dadosPessoais .father2 #inputCPFResp, .dadosPessoais .father3 #inputCPFResp {
  width: 10rem;
}

/* line 197, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 #inputRGResp, .dadosPessoais .father2 #inputRGResp, .dadosPessoais .father3 #inputRGResp {
  width: 8rem;
}

/* line 201, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 #inputRua, .dadosPessoais .father2 #inputRua, .dadosPessoais .father3 #inputRua {
  width: 20rem;
}

/* line 205, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 #inputNumero, .dadosPessoais .father2 #inputNumero, .dadosPessoais .father3 #inputNumero {
  width: 7rem;
}

/* line 209, ../../../Documents/zapt_saude/assets/scss/style.scss */
.dadosPessoais .father1 #inputCidade, .dadosPessoais .father2 #inputCidade, .dadosPessoais .father3 #inputCidade {
  width: 8rem;
}

/* line 223, ../../../Documents/zapt_saude/assets/scss/style.scss */
input {
  height: 1.5rem;
  background-color: #cde9c8;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

/* line 233, ../../../Documents/zapt_saude/assets/scss/style.scss */
input:focus {
  outline: 0;
}

/* line 237, ../../../Documents/zapt_saude/assets/scss/style.scss */
.father {
  display: flex;
  width: 25rem;
}

/* line 243, ../../../Documents/zapt_saude/assets/scss/style.scss */
#btnCadastro {
  color: #5054da;
  background-color: #cde9c8;
  border: none;
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  margin-left: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
}

/* line 258, ../../../Documents/zapt_saude/assets/scss/style.scss */
#btnCadastro:hover {
  background-color: #4dcf69;
  transition: 2ms;
  color: #5054da;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */